<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('templates/head'); %>
    <title>Share Status</title>
</head>
<body>
    <%- include('templates/header'); %>
    <main class="d-flex flex-nowrap" style="height:500px;">
        <%- include('templates/nav'); %>
        <div class="d-flex flex-column flex-shrink-0 p-3" style="width: 100%;">
            <div class="status-update-container">
        
                <form id="status-form" action="/status" method="POST" >
                    <label for="status-select"><%= data.fullname %>&nbsp;Select Your Status:</label>
                    <select id="status-select" name="status"> 
                        <option value="Undefined" selected>Undefined</option>
                        <option value="OK">OK</option>
                        <option value="Help">Help</option>
                        <option value="Emergency">Emergency</option>
                    </select>
                    <input type="hidden" id="user-id" value="<%= data.userid %>">
                    <button type="submit">Update Status</button>
                </form>            
                <div id="status-message" style="padding-top: 2rem;"></div> <!-- This will show the update status message -->
            </div>
        </div>
        
    </main>
    <%- include('templates/footer'); %>
    <script src="js/chat.js"></script>
</body>
</html>